body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C003E;
}

main {
    display: flex;
    gap: 50px;
}

.atividade1, .atividade2, .atividade3, .atividade4, .atividade5 {
    width: 300px;
    height: 650px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    border: 2px solid #9C27B0;
    background-color: #4A148C;
    color: #E1BEE7;
    box-shadow: 0 0 20px #8E24AA;
    transition: box-shadow 0.3s ease-in-out;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 2%;
    font-size: 1.4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.atividade1:hover, .atividade2:hover, .atividade3:hover, .atividade4:hover, .atividade5:hover {
    box-shadow: 0 0 30px #D500F9;
}

main button {
    font-weight: bold;
}

main button, input {
    height: 35px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #8E24AA;
    color: #FFFFFF;
    font-size: 1rem;
    box-shadow: 0 0 15px #AB47BC;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

main button:hover, input:hover {
    background-color: #D500F9;
    box-shadow: 0 0 20px #E040FB;
}

main textarea {
    height: 50px;
    text-align: center;
    outline: 0;
    background-color: #6A1B9A;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 15px #BA68C8;
    transition: box-shadow 0.3s ease-in-out;
    font-size: 1.2rem;
    padding-top: 5px;
}

main textarea:hover {
    box-shadow: 0 0 20px #E040FB;
}

input::placeholder {
    color: #E1BEE7
}